<!DOCTYPE html>
<html lang="en">
  <head>
   <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/styleabout.css" />
    <title>Weather App</title>
  </head>
  <body>
    <!-- <h1>Hello i am Sabuj Nandan</h1> -->

    {{!-- <img class="bg-1" src="images/bg1.jpg" alt="" /> --}}
    {{>navbar}}
    <div class="responsive-container-block bigContainer">
  <div style="padding-top: 100px;" class="responsive-container-block Container bottomContainer">
    <div class="ultimateImg">
      <img class="mainImg" src="images/me.jpg">
      {{!-- <div class="purpleBox">
        <p class="purpleText">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Eget purus lectus viverra in semper nec pretium mus.
        </p>
        <img class="stars" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/mp5.svg">
      </div> --}}
    </div>
    <div class="allText bottomText">
      <p class="text-blk headingText">
        About Me
      </p>
      <p class="text-blk subHeadingText">
        I am a Aspiring Software Development Engineer
      </p>
      <p class="text-blk description">
        I am a final-year Software Engineering student with strong skills in Data Structures and Algorithms (DSA) and expertise in the MERN stack. I have hands-on experience building dynamic web applications using MongoDB, Express.js, React, and Node.js, and I excel in problem-solving. I am eager to apply my skills and knowledge to impactful projects in the tech industry.
      </p>
      <a  class="explore">
        View Services
      </a>
    </div>
  </div>
</div>
  </body>
</html>

