<!DOCTYPE html>
<html lang="en">
  <head>
    {{>headerlinks}}
  </head>
  <body>
    <!-- <h1>Hello i am Sabuj Nandan</h1> -->

    <img class="bg-1" src="images/bg1.jpg" alt="" />
    {{>navbar}}
    <div class="home-body">
      <h2 id="mainh2">Welcome to the weather App</h2>
      <h1 id="mainh1" >Get The Latest Weather Info Of Your City</h1>
      <a href="/Weather">
        <button class="check-now-button">Check Now</button>
      </a>
    </div>
  </body>
</html>
