<!DOCTYPE html>
<html lang="en">
<head>
    {{>headerlinks}}
</head>
<body>
    {{>navbar}}
    <div class="container">
      <div class="search_box"> 
        <input type="text" placeholder="Enter a city name" id="cityName" value="VARANASI" autocomplete="off"/>
        <button id="search"><img id="searchimg" src="images/search2.svg" alt=""></button>
      </div>
      <div id="show"></div>
    </div>
   <!---------------  SCRIPT  --------------------->
   <script src="js/main.js"></script>  
</body>   
</html>
