<nav class="navbar">
      <div class="navbar-logo">
        <img  src="images/logo.svg" alt="/">
        <h4 style="font-size: large;">WeatherApp</h4>
        <!-- <img src="logo.png" alt="Logo"> -->
      </div>
      <div class="navbar-links">
        <a href="/">Home</a>
        <a href="/Weather">Weather</a>
        <a href="/about">About</a>
      </div>
    </nav> 
